@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
  font-style: normal;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
  white-space: nowrap;
}

p {
  line-height: 1.25;
}

body {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #090909;
  line-height: 1;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
button {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  white-space: nowrap;
}

#skip {
  position: absolute;
  top: -1px;
  left: 0;
  height: 1px;
  width: 100%;
  z-index: 999;
}

#skip a {
  display: block;
  text-align: center;
  height: 0;
  line-height: 40px;
  background: #000;
  color: #fff;
  overflow: hidden;
}

#skip a:focus,
#skip a:active {
  height: 40px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

section {
  background: #f7f7f7;
}

.inner {
  max-width: 1440px;
  margin: 0 auto;
  width: 100%;
  padding: 0 15px;
}

.title {
  max-width: 1440px;
  margin: 0 auto 80px auto;
  padding: 0 15px;
  text-align: center;
}
.title span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  margin: 0 0 20px 0;
}
.title h2 {
  font-size: 40px;
  font-weight: 700;
  letter-spacing: 2px;
}
@media (width <= 768px) {
  .title {
    margin: 0 auto 40px auto;
  }
  .title span {
    font-size: 12px;
    margin: 0 0 15px 0;
  }
  .title h2 {
    font-size: 30px;
  }
}

.Header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 999;
  height: 80px;
  background: #fff;
  transition: height 0.5s;
}
.Header .inner {
  overflow: hidden;
  border-radius: 10px;
  line-height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header .inner h1 {
  font-size: 20px;
  font-weight: 700;
}
.Header .inner .gnb {
  display: flex;
}
.Header .inner .gnb li {
  font-size: 18px;
  font-weight: 300;
  padding: 0 15px;
}
.Header .inner .gnb li:hover {
  background: #ff5a00;
  transition: 0.3s;
}
.Header .mo_btn {
  display: none;
}
@media (width <= 768px) {
  .Header .inner {
    flex-direction: column;
    align-items: baseline;
  }
  .Header .inner h1 {
    font-size: 16px;
    z-index: 1000;
  }
  .Header .inner .gnb {
    position: fixed;
    inset: 0 0 0 0;
    display: none;
    width: 0;
  }
  .Header .inner .gnb.on {
    width: 100%;
    height: 100vh;
    background: #abff5a;
    z-index: 999;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    transition: width 0.4s ease-in;
  }
  .Header .inner .gnb.on li {
    position: relative;
    width: 100%;
    font-size: 30px;
    font-weight: 900;
    text-align: center;
    color: #f9f9f9;
    text-shadow: -1px 0px #00906c, 0px 1px #00906c, 1px 0px #00906c, 0px -1px #00906c;
  }
  .Header .inner .gnb.on li::before {
    content: "";
    position: absolute;
    top: 10px;
    left: 0;
    width: 0;
    height: 1px;
    background: #00906c;
  }
  .Header .inner .gnb.on li::after {
    content: "";
    position: absolute;
    bottom: 10px;
    right: 0;
    width: 0;
    height: 1px;
    background: #00906c;
  }
  .Header .inner .gnb.on li:hover {
    background: inherit;
    transition: 0.3s;
  }
  .Header .inner .gnb.on li:hover::before {
    left: 50%;
    transform: translate(-50%, 0);
    width: 120px;
    transition: 0.4s ease-in-out;
  }
  .Header .inner .gnb.on li:hover::after {
    right: 50%;
    transform: translate(50%, 0);
    width: 120px;
    transition: 0.4s ease-in-out;
  }
  .Header .mo_btn {
    position: fixed;
    top: 30px;
    right: 15px;
    display: block;
    width: 30px;
    height: 20px;
    z-index: 999;
  }
  .Header .mo_btn span {
    font-size: 0;
    display: block;
    width: 100%;
    height: 1px;
    background: #090909;
  }
  .Header .mo_btn .s1 {
    position: absolute;
    left: 50%;
    top: 0;
    transform: translate(-50%, 0);
  }
  .Header .mo_btn .s2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s;
  }
  .Header .mo_btn .s3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0);
    transition: 0.5s;
  }
  .Header .mo_btn .s4 {
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%, 0);
  }
  .Header .mo_btn.on .s1 {
    display: none;
  }
  .Header .mo_btn.on .s2 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0) rotate(45deg);
  }
  .Header .mo_btn.on .s3 {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 0) rotate(-45deg);
  }
  .Header .mo_btn.on .s4 {
    display: none;
  }
}

.MainIntro {
  position: relative;
  -webkit-font-smoothing: antialiased;
  height: 100vh;
}
.MainIntro .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MainIntro .box .ic1 {
  position: absolute;
  left: 0;
  top: 100px;
  font-size: 50px;
  color: #abff5a;
  transform: rotate(-15deg);
}
.MainIntro .box .ic2 {
  position: absolute;
  right: 0;
  bottom: 48%;
  font-size: 30px;
  color: #abff5a;
  transform: rotate(30deg);
}
.MainIntro .box .ic3 {
  position: absolute;
  right: 40%;
  top: -10%;
  font-size: 20px;
  color: #abff5a;
  transform: rotate(15deg);
}
.MainIntro .box .center_content {
  text-align: center;
}
.MainIntro .box .center_content strong {
  display: block;
  font-size: 80px;
  margin: 0 0 20px 0;
}
.MainIntro .box .center_content h2 {
  display: inline-block;
  font-weight: 700;
  font-size: 100px;
  margin: 0 0 20px 0;
  transform: rotate(-2deg);
  border: 1px solid #090909;
  padding: 5px 50px;
  border-radius: 60px;
  background: #abff5a;
  letter-spacing: 2px;
}
.MainIntro .box .center_content p {
  display: block;
  font-size: 80px;
  margin: 0 0 100px 0;
}
.MainIntro .box .center_content .explore {
  padding: 0 0 5px 0;
  border-bottom: 1px solid #abff5a;
  font-size: 20px;
  font-weight: 300;
}
.MainIntro .box .center_content .explore i {
  margin: 0 0 0 10px;
}
@media (width <= 768px) {
  .MainIntro .box .center_content strong {
    font-size: 30px;
    margin: 0 0 20px 0;
  }
  .MainIntro .box .center_content h2 {
    font-size: 50px;
    margin: 0 0 20px 0;
    transform: rotate(-2deg);
    padding: 5px 30px;
    border-radius: 60px;
  }
  .MainIntro .box .center_content p {
    font-size: 30px;
    margin: 0 0 80px 0;
  }
  .MainIntro .box .center_content .explore {
    padding: 0 0 5px 0;
    font-size: 16px;
  }
}

.MainIndex {
  padding: 160px 0;
  overflow: hidden;
}
.MainIndex .text_move p {
  position: relative;
  font-size: 80px;
  font-weight: 500;
  text-align: center;
  display: block;
  padding: 5px 0;
}
.MainIndex .text_move p span {
  z-index: 998;
  background: #00906c;
  font-size: 16px;
  padding: 10px 20px;
  border-radius: 30px;
}
.MainIndex .text_move .move_l span {
  position: absolute;
  top: 50%;
  left: 40%;
  transform: rotate(5deg);
}
.MainIndex .text_move .move_r span {
  position: absolute;
  bottom: 50%;
  right: 40%;
  transform: rotate(-5deg);
}
@media (width <= 768px) {
  .MainIndex {
    padding: 80px 0;
  }
  .MainIndex .text_move p {
    font-size: 40px;
  }
  .MainIndex .text_move p span {
    font-size: 12px;
    padding: 5px 15px;
    border-radius: 30px;
  }
  .MainIndex .text_move .move_l span {
    transform: rotate(3deg);
  }
  .MainIndex .text_move .move_r span {
    transform: rotate(-3deg);
  }
}

.MainProject {
  position: relative;
  padding: 80px 0;
}
.MainProject .inner .pr_nav {
  position: fixed;
  bottom: 50%;
  right: 80px;
  transform: translate(0, 50%);
  z-index: 998;
  background: #fff;
  padding: 25px 5px;
  border-radius: 25px;
  opacity: 0;
}
.MainProject .inner .pr_nav ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.MainProject .inner .pr_nav ul li a {
  font-weight: 700;
  padding: 15px;
  border-radius: 50%;
}
.MainProject .inner .pr_nav ul li a.active {
  background: #090909;
  color: #fff;
  border-radius: 50%;
}
.MainProject .inner .project_wrap {
  display: flex;
  flex-direction: column;
  gap: 80px;
}
.MainProject .inner .project_wrap .project {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 20px;
  overflow: hidden;
}
.MainProject .inner .project_wrap .project .pr_itm {
  background: #fff;
  box-shadow: 0 0 40px rgba(247, 247, 247, 0.5);
  border-radius: 20px;
  padding: 60px 80px;
}
.MainProject .inner .project_wrap .project .pr_itm h2 {
  position: relative;
  font-size: 40px;
  font-weight: 900;
  margin: 0 0 30px 0;
}
.MainProject .inner .project_wrap .project .pr_itm .con {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  height: 100%;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left {
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .desc {
  font-size: 18px;
  line-height: 24px;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 40px;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .desc span {
  display: block;
  font-size: 15px;
  padding: 5px 0 0 0;
  color: #8f9193;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info > * {
  border-radius: 10px;
  padding: 30px;
  background: #f7f7f7;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info > * h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info > * p {
  font-size: 15px;
  font-weight: 300;
  line-height: 21px;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box {
  font-size: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #fff;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box li {
  flex: 1;
  border-radius: 10px;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c01 li:nth-child(1) {
  background: #f5f5f5;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c01 li:nth-child(2) {
  background: #e8e8e8;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c01 li:nth-child(3) {
  background: #131313;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c02 li:nth-child(1) {
  background: #003876;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c02 li:nth-child(2) {
  background: #0467b3;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c02 li:nth-child(3) {
  background: #ffc240;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c03 li:nth-child(1) {
  background: #961e1e;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c03 li:nth-child(2) {
  background: #8A7251;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c03 li:nth-child(3) {
  background: #4D4D4D;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c04 li:nth-child(1) {
  background: #383e8e;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c04 li:nth-child(2) {
  background: #63b23a;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c04 li:nth-child(3) {
  background: #655238;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c05 li:nth-child(1) {
  background: #917056;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c05 li:nth-child(2) {
  background: #d4b886;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c05 li:nth-child(3) {
  background: #f9f9f9;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c06 li:nth-child(1) {
  background: #2D58B5;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c06 li:nth-child(2) {
  background: #003399;
}
.MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box.c06 li:nth-child(3) {
  background: #F0F8FF;
}
.MainProject .inner .project_wrap .project .pr_itm .con .right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.MainProject .inner .project_wrap .project .pr_itm .con .right .view {
  overflow: hidden;
  height: 360px;
  border-radius: 20px;
  margin: 0 0 40px 0;
  border: 1px solid #f7f7f7;
}
.MainProject .inner .project_wrap .project .pr_itm .con .right .view img {
  transform: translate(0, 0);
}
.MainProject .inner .project_wrap .project .pr_itm .con .right .view:hover img {
  transition: 2s;
  transform: translate(0, calc(-100% + 400px));
}
.MainProject .inner .project_wrap .project .pr_itm .con .right .site_link {
  display: flex;
  gap: 10px;
}
.MainProject .inner .project_wrap .project .pr_itm .con .right .site_link li {
  position: relative;
  background: #f7f7f7;
  text-align: center;
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  z-index: 998;
}
.MainProject .inner .project_wrap .project .pr_itm .con .right .site_link li a {
  display: inline-block;
  padding: 25px 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
}
.MainProject .inner .project_wrap .project .pr_itm .con .right .site_link li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #abff5a;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
}
.MainProject .inner .project_wrap .project .pr_itm .con .right .site_link li:hover::after {
  transform: scaleX(1);
  transition: 0.4s ease-in;
}
@media (width <= 768px) {
  .MainProject .inner .pr_nav {
    bottom: 20px;
    right: 50%;
    transform: translate(50%, 0);
    padding: 20px 10px;
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(247, 247, 247, 0.8);
  }
  .MainProject .inner .pr_nav ul {
    height: auto;
    flex-direction: inherit;
    gap: 0;
  }
  .MainProject .inner .pr_nav ul li a {
    font-size: 14px;
    padding: 15px;
  }
  .MainProject .inner .project_wrap .project .pr_itm {
    padding: 40px 20px 25px 20px;
  }
  .MainProject .inner .project_wrap .project .pr_itm h2 {
    font-size: 22px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con {
    grid-template-columns: repeat(1, 1fr);
    gap: 10px;
    height: auto;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left {
    border-radius: 20px;
    display: grid;
    grid-template-rows: 150px 1fr;
    gap: 5px;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left .desc {
    font-size: 14px;
    line-height: 18px;
    padding: 20px;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left .desc span {
    font-size: 12px;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left .info {
    grid-template-columns: 1fr;
    grid-template-rows: 20px 1fr 1fr;
    gap: 5px;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left .info > * {
    border-radius: 10px;
    padding: 15px 20px;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left .info > * h3 {
    font-size: 16px;
    margin: 0 0 5px 0;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left .info > * p {
    font-size: 14px;
    line-height: 18px;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box {
    flex-direction: inherit;
    gap: 5px;
    border-radius: 5px;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .left .info .color_box li {
    border-radius: 5px;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .right {
    order: -1;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .right .view {
    height: 180px;
    margin: 0 0 10px 0;
  }
  .MainProject .inner .project_wrap .project .pr_itm .con .right .site_link li a {
    padding: 15px 0;
    font-size: 15px;
  }
}

.MainTraining {
  padding: 80px 0;
}
.MainTraining .traning_con {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 30px;
}
.MainTraining .traning_con .con {
  border-radius: 20px;
  background: #fff;
  overflow: hidden;
  padding: 0 0 20px 0;
  box-shadow: 0 0 20px rgba(247, 247, 247, 0.5);
}
.MainTraining .traning_con .con .img_box {
  height: 240px;
  background: #8f9193;
  overflow: hidden;
  margin: 0 0 20px 0;
}
.MainTraining .traning_con .con h3 {
  font-size: 20px;
  font-weight: 700;
  text-align: center;
}
@media (width <= 768px) {
  .MainTraining .traning_con {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    grid-template-rows: repeat(5, 1fr);
    gap: 30px;
  }
  .MainTraining .traning_con .con .img_box {
    height: 180px;
  }
  .MainTraining .traning_con .con h3 {
    font-size: 18px;
  }
}

.MainContact {
  position: relative;
  height: 100vh;
  padding: 80px 0;
  background: #f7f7f7;
}
.MainContact .inner h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% - 250px), calc(-50% - 150px));
  font-size: 40px;
  font-weight: 700;
}
.MainContact .inner h2::after {
  content: "";
  position: absolute;
  bottom: -12px;
  left: 60px;
  width: 100%;
  height: 1px;
  background: #090909;
}
.MainContact .inner figure {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background: #ddd;
  overflow: hidden;
}
.MainContact .inner .name {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% + 270px));
  text-align: center;
}
.MainContact .inner .name span {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 10px 0;
}
.MainContact .inner .name h3 {
  font-size: 30px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.MainContact .inner .name p {
  display: block;
  font-size: 14px;
  font-weight: 300;
  letter-spacing: 2px;
  margin: 0 0 40px 0;
}
.MainContact .inner .name .contact {
  display: flex;
  gap: 10px;
}
.MainContact .inner .name .contact > li {
  width: 60px;
  height: 60px;
  background: #090909;
  border-radius: 10px;
}
.MainContact .inner .name .contact > li a {
  display: block;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 24px;
  color: #f9f9f9;
}
.MainContact .inner .name .contact > li:hover {
  transform: translate(0, -10px);
  box-shadow: 0 10px 10px rgba(247, 247, 247, 0.5);
  transition: 0.4s;
  background: #00906c;
}
.MainContact .inner .skills {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(calc(-50% + 400px), -50%);
}
.MainContact .inner .skills strong {
  display: block;
  font-size: 20px;
  font-weight: 700;
  margin: 0 0 5px 0;
}
.MainContact .inner .skills span {
  display: block;
  line-height: 22px;
  font-weight: 300;
  width: 60%;
}
.MainContact .inner .skills ul {
  margin: 0 0 20px 0;
}
.MainContact .inner .skills ul li {
  line-height: 22px;
  font-weight: 300;
}
@media (width <= 768px) {
  .MainContact .inner h2 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% - 180px));
    font-size: 30px;
    font-weight: 700;
  }
  .MainContact .inner h2::after {
    display: none;
  }
  .MainContact .inner figure {
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 240px;
    height: 240px;
  }
  .MainContact .inner .name {
    transform: translate(-50%, calc(-50% + 240px));
  }
  .MainContact .inner .name p {
    margin: 0 0 40px 0;
  }
  .MainContact .inner .name .contact {
    gap: 10px;
  }
  .MainContact .inner .name .contact > li {
    width: 60px;
    height: 60px;
  }
  .MainContact .inner .name .contact > li a {
    font-size: 24px;
  }
  .MainContact .inner .skills {
    display: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(calc(-50% + 400px), -50%);
  }
  .MainContact .inner .skills strong {
    display: block;
    font-size: 20px;
    font-weight: 700;
    margin: 0 0 5px 0;
  }
  .MainContact .inner .skills span {
    line-height: 20px;
    font-weight: 300;
  }
  .MainContact .inner .skills ul {
    margin: 0 0 10px 0;
  }
  .MainContact .inner .skills ul li {
    line-height: 20px;
    font-weight: 300;
  }
}

.Footer {
  padding: 60px 0 80px 0;
  font-size: 13px;
  line-height: 18px;
  text-align: center;
  color: rgba(9, 9, 9, 0.7);
}/*# sourceMappingURL=style.css.map */