@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/static/pretendard.css");
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.8/dist/web/variable/pretendardvariable-dynamic-subset.css");
@import url("https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@300;400;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap");
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.5/font/bootstrap-icons.css");
:root {
  --mc: #339;
}

html {
  font-size: 6.25%;
}
@media (width <= 390px) {
  html {
    font-size: 0.24375vw;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-weight: inherit;
  font-size: inherit;
  font-style: normal;
  word-break: keep-all;
}

a {
  color: inherit;
  text-decoration: none;
}

ul,
li,
ol {
  list-style: none;
  white-space: nowrap;
}

p {
  line-height: 1.25;
}

body {
  font-size: 16rem;
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  color: #090909;
  line-height: 1;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  vertical-align: middle;
}

input,
button {
  font-family: "Pretendard Variable", Pretendard, -apple-system, BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI", "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  white-space: nowrap;
}

#skip {
  position: absolute;
  top: -1px;
  left: 0;
  height: 1px;
  width: 100%;
  z-index: 999;
}

#skip a {
  display: block;
  text-align: center;
  height: 0;
  line-height: 40px;
  background: #000;
  color: #fff;
  overflow: hidden;
}

#skip a:focus,
#skip a:active {
  height: 40px;
}

.blind {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
  overflow: hidden;
}

.inner {
  max-width: calc(100% - 80px);
  width: 100%;
  margin: 0 auto;
}

.Header {
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  z-index: 998;
  height: 80px;
  display: flex;
  align-items: center;
}
.Header .menu_con {
  position: relative;
  border-radius: 10px;
  border: 1px solid #090909;
  z-index: 999;
  padding: 0 20px;
  background: #f9f9f9;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.Header .menu_con .btn {
  z-index: 998;
  padding: 10px 0;
}
.Header .menu_con .btn::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #090909;
  vertical-align: middle;
  margin: 0 5px 0 0;
}
.Header .menu_con .btn ul {
  position: absolute;
  right: -1px;
  top: 38px;
  height: 0;
  overflow: hidden;
  transition: 0.3s;
  z-index: 999;
}
.Header .menu_con .btn ul li {
  flex: 1;
  font-size: 24px;
  font-weight: 300;
  padding: 4px 0;
}
.Header .menu_con .btn ul li:hover {
  background: #ff5a00;
  transition: 0.3s;
}
.Header .menu_con .btn ul li::before {
  content: "";
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #090909;
  vertical-align: middle;
  margin: 0 15px 0 0;
}
.Header .menu_con.on .btn ul {
  height: 250px;
}

.MainIntro {
  -webkit-font-smoothing: antialiased;
  background: #f7f7f7;
  height: 100vh;
  padding: 80px 0;
}
.MainIntro .inner {
  position: relative;
  height: 100%;
}
.MainIntro .inner .box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  height: 100%;
  background: #fff;
  border-radius: 20px;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.MainIntro .inner .box .ic1 {
  position: absolute;
  left: 32%;
  top: 30%;
  font-size: 50px;
  color: #abff5a;
  transform: rotate(-15deg);
}
.MainIntro .inner .box .ic2 {
  position: absolute;
  right: 35%;
  bottom: 48%;
  font-size: 30px;
  color: #abff5a;
  transform: rotate(30deg);
}
.MainIntro .inner .box .ic3 {
  position: absolute;
  right: 40%;
  top: 20%;
  font-size: 20px;
  color: #abff5a;
  transform: rotate(15deg);
}
.MainIntro .inner .box .center_content {
  text-align: center;
}
.MainIntro .inner .box .center_content strong {
  display: block;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 30px 0;
}
.MainIntro .inner .box .center_content h2 {
  font-weight: 700;
  font-size: 100px;
  margin: 0 0 30px 0;
  transform: rotate(-2deg);
  border: 1px solid #090909;
  padding: 5px 50px;
  border-radius: 60px;
  background: #abff5a;
}
.MainIntro .inner .box .center_content p {
  display: block;
  font-weight: 700;
  font-size: 30px;
  margin: 0 0 100px 0;
}
.MainIntro .inner .box .center_content .explore {
  padding: 0 0 5px 0;
  border-bottom: 1px solid #abff5a;
  font-size: 20px;
  font-weight: 300;
}
.MainIntro .inner .box .center_content .explore i {
  margin: 0 0 0 10px;
}
.MainIntro .inner .color_box {
  position: fixed;
  bottom: 100px;
  right: 100px;
}
.MainIntro .inner .color_box ul {
  display: flex;
  gap: 30px;
}
.MainIntro .inner .color_box ul li {
  width: 100px;
  height: 100px;
  border-radius: 30px;
}
.MainIntro .inner .color_box ul li:nth-child(1) {
  background: #ff5a00;
}
.MainIntro .inner .color_box ul li:nth-child(2) {
  background: #abff5a;
}
.MainIntro .inner .color_box ul li:nth-child(3) {
  background: #00906c;
}
.MainIntro .inner .color_box ul li:nth-child(4) {
  background: #090909;
}
.MainIntro .inner .color_box ul li:nth-child(5) {
  background: #f9f9f9;
}
.MainIntro .inner .color_box ul li:nth-child(6) {
  background: #8f9193;
}

.MainIndex {
  position: relative;
  background: #f9f9f9;
  padding: 100px;
  font-size: 100px;
}
.MainIndex .move_text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MainIndex .move_text p {
  position: relative;
}

.MainProject {
  position: relative;
  padding: 100px 0;
  background: #f9f9f9;
}
.MainProject::before {
  content: "";
  background: url(/images/curve.svg) no-repeat center center;
  position: absolute;
  top: 60px;
  left: 50%;
  transform: translate(-50%, 0);
  width: 400px;
  height: 40px;
}
.MainProject .inner .content {
  display: flex;
  height: 100%;
  gap: 20px;
  background: #fff;
  border-radius: 20px;
  padding: 80px;
}
.MainProject .inner .content .tab {
  flex: 1 0 100px;
  border-radius: 20px;
}
.MainProject .inner .content .tab ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MainProject .inner .content .tab ul li {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
}
.MainProject .inner .content .project_wrap .project {
  display: none;
  height: 100%;
  flex-direction: column;
}
.MainProject .inner .content .project_wrap .project h2 {
  position: relative;
  font-size: 50px;
  line-height: 100px;
  font-weight: 900;
  border-radius: 10px;
  padding: 0 30px;
  margin: 0 0 20px 0;
}
.MainProject .inner .content .project_wrap .project .con {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
  height: 100%;
}
.MainProject .inner .content .project_wrap .project .con .left {
  border-radius: 20px;
  display: grid;
  grid-template-rows: 1fr 1fr;
  gap: 10px;
}
.MainProject .inner .content .project_wrap .project .con .left .desc {
  font-size: 18px;
  line-height: 22px;
  background: #f7f7f7;
  border-radius: 10px;
  padding: 30px;
}
.MainProject .inner .content .project_wrap .project .con .left .info {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}
.MainProject .inner .content .project_wrap .project .con .left .info > * {
  border-radius: 10px;
  padding: 30px;
  background: #f7f7f7;
}
.MainProject .inner .content .project_wrap .project .con .left .info > * h3 {
  font-size: 18px;
  font-weight: 700;
  margin: 0 0 10px 0;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box {
  font-size: 0;
  padding: 0;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 5px;
  background: #fff;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box li {
  flex: 1;
  border-radius: 10px;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c01 li:nth-child(1) {
  background: #f5f5f5;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c01 li:nth-child(2) {
  background: #e8e8e8;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c01 li:nth-child(3) {
  background: #131313;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c02 li:nth-child(1) {
  background: #003876;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c02 li:nth-child(2) {
  background: #0467b3;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c02 li:nth-child(3) {
  background: #ffc240;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c03 li:nth-child(1) {
  background: #961e1e;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c03 li:nth-child(2) {
  background: #8A7251;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c03 li:nth-child(3) {
  background: #4D4D4D;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c04 li:nth-child(1) {
  background: #383e8e;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c04 li:nth-child(2) {
  background: #63b23a;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c04 li:nth-child(3) {
  background: #655238;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c05 li:nth-child(1) {
  background: #917056;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c05 li:nth-child(2) {
  background: #d4b886;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c05 li:nth-child(3) {
  background: #f9f9f9;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c06 li:nth-child(1) {
  background: #2D58B5;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c06 li:nth-child(2) {
  background: #003399;
}
.MainProject .inner .content .project_wrap .project .con .left .info .color_box.c06 li:nth-child(3) {
  background: #F0F8FF;
}
.MainProject .inner .content .project_wrap .project .con .right {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
.MainProject .inner .content .project_wrap .project .con .right .view {
  overflow: hidden;
  height: 400px;
  border-radius: 20px;
  margin: 0 0 40px 0;
  border: 1px solid #f7f7f7;
}
.MainProject .inner .content .project_wrap .project .con .right .view img {
  transform: translate(0, 0);
}
.MainProject .inner .content .project_wrap .project .con .right .view:hover img {
  transition: 2s;
  transform: translate(0, calc(-100% + 400px));
}
.MainProject .inner .content .project_wrap .project .con .right .site_link {
  display: flex;
  gap: 10px;
}
.MainProject .inner .content .project_wrap .project .con .right .site_link li {
  position: relative;
  background: #f7f7f7;
  text-align: center;
  flex: 1;
  border-radius: 10px;
  overflow: hidden;
  z-index: 998;
}
.MainProject .inner .content .project_wrap .project .con .right .site_link li a {
  display: inline-block;
  padding: 25px 0;
  width: 100%;
  height: 100%;
  font-size: 18px;
  font-weight: 700;
}
.MainProject .inner .content .project_wrap .project .con .right .site_link li::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #abff5a;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
}
.MainProject .inner .content .project_wrap .project .con .right .site_link li:hover::after {
  transform: scaleX(1);
  transition: 0.4s ease-in;
}
.MainProject .inner .content .project_wrap .project.on {
  display: flex;
}
.MainProject .inner .content .menu {
  flex: 1 0 100px;
  border-radius: 20px;
}
.MainProject .inner .content .menu .btn span {
  font-size: 0;
  display: block;
  height: 3px;
  width: 30px;
  background: #090909;
  margin: 0 0 5px 0;
}
.MainProject .inner .content .menu ul {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.MainProject .inner .content .menu ul li {
  padding: 15px 0;
  font-size: 20px;
  font-weight: 700;
}

.MainContact {
  position: relative;
  height: 100vh;
  padding: 100px 0;
  background: #f7f7f7;
}
.MainContact .inner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.MainContact .inner h2 {
  font-size: 60px;
  font-weight: 700;
  text-align: center;
  margin: 0 0 60px 0;
}
.MainContact .inner ul {
  display: flex;
  justify-content: center;
  gap: 20px;
}
.MainContact .inner ul li {
  text-align: center;
  border: 1px solid #090909;
  border-radius: 30px;
  overflow: hidden;
}
.MainContact .inner ul li a {
  position: relative;
  display: inline-block;
  padding: 20px 0;
  width: 300px;
  z-index: 998;
  font-size: 18px;
  font-weight: 700;
}
.MainContact .inner ul li a::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #abff5a;
  transform: scaleX(0);
  transform-origin: left;
  z-index: -1;
}
.MainContact .inner ul li a:hover::after {
  transform: scaleX(1);
  transition: 0.4s ease-in;
}

.MainContent {
  background: #8f9193;
  padding: 80px 0;
  height: 100vh;
}
.MainContent .inner {
  display: flex;
  gap: 8px;
  height: 100%;
  overflow: hidden;
}
.MainContent .inner > * {
  flex: 1;
  border-radius: 20px;
}
.MainContent .inner .left {
  background: #f9f9f9;
}
.MainContent .inner .right {
  position: sticky;
}
.MainContent .inner .right ul {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 4px;
}
.MainContent .inner .right ul li {
  border-radius: 20px;
  background: #ff5a00;
}/*# sourceMappingURL=style.css.map */