$color-body: #444;
$color-main: #339;

// colors
$color-or : #ff5a00;
$color-lg: #abff5a;
$color-dg: #00906c;
$color-b: #090909;
$color-w: #f9f9f9;
$color-g: #8f9193;

// m:24 g:20 c:90 w:110
$size-pc : 1348;