.Header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    z-index: 999;
    height: 80px;

    background: #fff;
    transition: height 0.5s;

    // &.on {
    //     height: 80px;
    // }

    .inner {
        overflow: hidden;
        border-radius: 10px;
        line-height: 80px;
        display: flex;
        align-items: center;
        justify-content: space-between;

        h1 {
            font-size: 20px;
            font-weight: 700;
        }


        .gnb {
            display: flex;

            li {
                // flex: 1;
                font-size: 18px;
                font-weight: 300;
                padding: 0 15px;

                &:hover {
                    background: $color-or;
                    transition: 0.3s;
                }
            }
        }
    }

    .mo_btn {
        display: none;
    }

    @include res() {
        .inner {
            flex-direction: column;
            align-items: baseline;

            h1 {
                font-size: 16px;
                z-index: 1000;
            }

            .gnb {
                position: fixed;
                inset: 0 0 0 0;
                display: none;
                width: 0;

                &.on {
                    width: 100%;
                    height: 100vh;
                    background: $color-lg;
                    z-index: 999;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                    transition: width 0.4s ease-in;

                    li {
                        position: relative;
                        width: 100%;
                        font-size: 30px;
                        font-weight: 900;
                        text-align: center;
                        color: $color-w;
                        text-shadow: -1px 0px $color-dg, 0px 1px $color-dg, 1px 0px $color-dg, 0px -1px $color-dg;

                        &::before {
                            content: "";
                            position: absolute;
                            top: 10px;
                            left: 0;
                            width: 0;
                            height: 1px;
                            background: $color-dg;
                        }

                        &::after {
                            content: "";
                            position: absolute;
                            bottom: 10px;
                            right: 0;
                            width: 0;
                            height: 1px;
                            background: $color-dg;
                        }

                        &:hover {
                            background: inherit;
                            transition: 0.3s;

                            &::before {
                                left: 50%;
                                transform: translate(-50%, 0);
                                width: 120px;
                                transition: 0.4s ease-in-out;
                            }

                            &::after {
                                right: 50%;
                                transform: translate(50%, 0);
                                width: 120px;
                                transition: 0.4s ease-in-out;
                            }
                        }
                    }
                }
            }
        }

        .mo_btn {
            position: fixed;
            top: 30px;
            right: 15px;
            display: block;
            width: 30px;
            height: 20px;
            z-index: 999;

            span {
                font-size: 0;
                display: block;
                width: 100%;
                height: 1px;
                background: $color-b;
            }

            .s1 {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translate(-50%, 0);
            }

            .s2 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 0);
                transition: 0.5s;
            }

            .s3 {
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, 0);
                transition: 0.5s;
            }

            .s4 {
                position: absolute;
                left: 50%;
                bottom: 0;
                transform: translate(-50%, 0);
            }

            &.on {
                .s1 {
                    display: none;
                }

                .s2 {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, 0) rotate(45deg);
                }

                .s3 {
                    position: absolute;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, 0) rotate(-45deg);
                }

                .s4 {
                    display: none;
                }
            }
        }



    }


}