.MainIntro {
    position: relative;
    -webkit-font-smoothing: antialiased;
    height: 100vh;

    .box {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);


        .ic1 {
            position: absolute;
            left: 0;
            top: 100px;
            font-size: 50px;
            color: $color-lg;
            transform: rotate(-15deg);
        }

        .ic2 {
            position: absolute;
            right: 0;
            bottom: 48%;
            font-size: 30px;
            color: $color-lg;
            transform: rotate(30deg);
        }

        .ic3 {
            position: absolute;
            right: 40%;
            top: -10%;
            font-size: 20px;
            color: $color-lg;
            transform: rotate(15deg);
        }


        .center_content {
            text-align: center;

            strong {
                display: block;
                // font-weight: 700;
                // font-size: 30px;
                font-size: 80px;
                margin: 0 0 20px 0;
            }


            h2 {
                display: inline-block;
                font-weight: 700;
                font-size: 100px;
                margin: 0 0 20px 0;
                transform: rotate(-2deg);
                border: 1px solid $color-b;
                padding: 5px 50px;
                border-radius: 60px;
                background: $color-lg;
                letter-spacing: 2px;
            }

            p {
                display: block;
                // font-weight: 700;
                // font-size: 30px;
                font-size: 80px;
                margin: 0 0 100px 0;

            }

            .explore {

                padding: 0 0 5px 0;
                border-bottom: 1px solid $color-lg;

                font-size: 20px;
                font-weight: 300;

                i {
                    margin: 0 0 0 10px;
                }
            }

        }


    }

    @include res() {
        .box {
            .center_content {
                strong {
                    font-size: 30px;
                    margin: 0 0 20px 0;
                }


                h2 {
                    font-size: 50px;
                    margin: 0 0 20px 0;
                    transform: rotate(-2deg);
                    padding: 5px 30px;
                    border-radius: 60px;
                }

                p {
                    font-size: 30px;
                    margin: 0 0 80px 0;

                }

                .explore {
                    padding: 0 0 5px 0;
                    font-size: 16px;
                }

            }

        }
    }
}




.MainProject {
    position: relative;
    padding: 80px 0;


    .inner {

        .pr_nav {
            position: fixed;
            bottom: 50%;
            right: 80px;
            transform: translate(0, 50%);
            z-index: 998;
            background: #fff;
            padding: 25px 5px;
            border-radius: 25px;
            opacity: 0;

            ul {
                height: 100%;
                display: flex;
                flex-direction: column;
                gap: 30px;

                li {
                    a {
                        // font-size: 18px;
                        font-weight: 700;
                        padding: 15px;
                        border-radius: 50%;
                    }

                    a.active {
                        background: $color-b;
                        color: #fff;
                        border-radius: 50%;

                    }
                }
            }
        }

        .project_wrap {
            display: flex;
            flex-direction: column;
            gap: 80px;

            .project {
                width: 100%;
                position: relative;
                display: flex;
                align-items: center;
                justify-content: center;
                border-radius: 20px;

                overflow: hidden;

                .pr_itm {
                    // display: flex;
                    // flex-direction: column;
                    background: #fff;
                    box-shadow: 0 0 40px rgba($color: $color-bg, $alpha: 0.5);
                    border-radius: 20px;
                    padding: 60px 80px;

                    h2 {
                        position: relative;
                        font-size: 40px;
                        font-weight: 900;
                        margin: 0 0 30px 0;
                    }


                    .con {
                        display: grid;
                        grid-template-columns: repeat(2, 1fr);
                        gap: 10px;
                        height: 100%;

                        .left {
                            border-radius: 20px;
                            display: grid;
                            grid-template-rows: 1fr 1fr;
                            gap: 10px;



                            .desc {
                                font-size: 18px;
                                line-height: 22px;
                                // border: 1px solid $color-b;
                                background: $color-bg;
                                border-radius: 10px;
                                padding: 40px;
                                line-height: 1.4;
                            }

                            .info {
                                display: grid;
                                grid-template-columns: 1fr 1fr 1fr;
                                gap: 10px;

                                >* {
                                    border-radius: 10px;
                                    padding: 30px;
                                    background: $color-bg;

                                    h3 {
                                        font-size: 18px;
                                        font-weight: 700;
                                        margin: 0 0 10px 0;
                                    }

                                }

                                .color_box {
                                    font-size: 0;
                                    padding: 0;
                                    overflow: hidden;
                                    display: flex;
                                    flex-direction: column;
                                    gap: 5px;
                                    background: #fff;

                                    li {
                                        flex: 1;
                                        border-radius: 10px;
                                    }

                                }

                                .color_box.c01 {
                                    li:nth-child(1) {
                                        background: #f5f5f5;
                                    }

                                    li:nth-child(2) {
                                        background: #e8e8e8;
                                    }

                                    li:nth-child(3) {
                                        background: #131313;
                                    }
                                }

                                .color_box.c02 {
                                    li:nth-child(1) {
                                        background: #003876;
                                    }

                                    li:nth-child(2) {
                                        background: #0467b3;
                                    }

                                    li:nth-child(3) {
                                        background: #ffc240;
                                    }
                                }

                                .color_box.c03 {
                                    li:nth-child(1) {
                                        background: #961e1e;
                                    }

                                    li:nth-child(2) {
                                        background: #8A7251;
                                    }

                                    li:nth-child(3) {
                                        background: #4D4D4D;
                                    }
                                }

                                .color_box.c04 {
                                    li:nth-child(1) {
                                        background: #383e8e;
                                    }

                                    li:nth-child(2) {
                                        background: #63b23a;
                                    }

                                    li:nth-child(3) {
                                        background: #655238;

                                    }
                                }

                                .color_box.c05 {
                                    li:nth-child(1) {
                                        background: #917056;
                                    }

                                    li:nth-child(2) {
                                        background: #d4b886;
                                    }

                                    li:nth-child(3) {
                                        background: #f9f9f9;

                                    }
                                }

                                .color_box.c06 {
                                    li:nth-child(1) {
                                        background: #2D58B5;
                                    }

                                    li:nth-child(2) {
                                        background: #003399;
                                    }

                                    li:nth-child(3) {
                                        background: #F0F8FF;

                                    }
                                }
                            }
                        }

                        .right {
                            display: flex;
                            flex-direction: column;
                            overflow: hidden;
                            // order: -1;

                            .view {
                                overflow: hidden;
                                height: 360px;
                                border-radius: 20px;
                                margin: 0 0 40px 0;
                                border: 1px solid $color-bg;


                                img {
                                    transform: translate(0, 0);
                                }

                                &:hover {
                                    img {
                                        transition: 2s;
                                        transform: translate(0, calc(-100% + 400px));
                                    }
                                }
                            }

                            .site_link {
                                display: flex;
                                gap: 10px;

                                li {
                                    position: relative;
                                    background: $color-bg;
                                    text-align: center;
                                    flex: 1;
                                    border-radius: 10px;
                                    overflow: hidden;
                                    z-index: 998;

                                    a {
                                        display: inline-block;
                                        padding: 25px 0;
                                        width: 100%;
                                        height: 100%;
                                        font-size: 18px;
                                        font-weight: 700;
                                    }

                                    &::after {
                                        content: "";
                                        position: absolute;
                                        left: 0;
                                        top: 0;
                                        width: 100%;
                                        height: 100%;
                                        background: $color-lg;
                                        transform: scaleX(0);
                                        transform-origin: left;
                                        z-index: -1;
                                    }

                                    &:hover {
                                        &::after {
                                            transform: scaleX(1);
                                            transition: 0.4s ease-in;
                                        }
                                    }
                                }
                            }
                        }
                    }


                }





            }
        }

        @include res() {
            .pr_nav {
                bottom: 20px;
                right: 50%;
                transform: translate(50%, 0);
                padding: 15px 25px;
                border-radius: 20px;
                box-shadow: 0 0 20px rgba($color: $color-bg, $alpha: 0.8);

                ul {
                    height: auto;
                    flex-direction: inherit;
                    gap: 10px;

                    li {
                        a {
                            font-size: 14px;
                            padding: 10px;
                        }
                    }
                }
            }

            .project_wrap {
                .project {
                    .pr_itm {
                        padding: 40px 20px 25px 20px;

                        h2 {
                            font-size: 22px;
                            margin: 0 0 20px 0;
                            text-align: center;
                        }

                        .con {
                            grid-template-columns: repeat(1, 1fr);
                            gap: 10px;
                            height: auto;

                            .left {
                                border-radius: 20px;
                                display: grid;
                                grid-template-rows: 150px 1fr;
                                gap: 5px;


                                .desc {
                                    font-size: 14px;
                                    line-height: 18px;
                                    padding: 20px;
                                }

                                .info {
                                    grid-template-columns: 1fr;
                                    grid-template-rows: 20px 1fr 1fr;
                                    gap: 5px;

                                    >* {
                                        border-radius: 10px;
                                        padding: 15px 20px;

                                        h3 {
                                            font-size: 16px;
                                            margin: 0 0 5px 0;
                                        }

                                        p {
                                            font-size: 14px;
                                        }

                                    }

                                    .color_box {
                                        flex-direction: inherit;
                                        gap: 5px;
                                        border-radius: 5px;

                                        li {
                                            border-radius: 5px;
                                        }

                                    }
                                }
                            }

                            .right {
                                order: -1;

                                .view {
                                    height: 180px;
                                    margin: 0 0 10px 0;
                                }

                                .site_link {
                                    li {
                                        a {
                                            padding: 15px 0;
                                            font-size: 15px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }

            }
        }
    }
}


.MainTraining {
    padding: 80px 0;

    .traning_con {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 30px;

        .con {
            border-radius: 20px;
            background: #fff;
            overflow: hidden;
            padding: 0 0 20px 0;
            box-shadow: 0 0 20px rgba($color: $color-bg, $alpha: 0.5);

            .img_box {
                height: 240px;
                background: $color-g;
                overflow: hidden;
                margin: 0 0 20px 0;
            }

            h3 {
                font-size: 20px;
                font-weight: 700;
                text-align: center;
            }

        }
    }

    @include res() {
        .traning_con {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: repeat(5, 1fr);
            gap: 30px;

            .con {
                .img_box {
                    height: 180px;
                }

                h3 {
                    font-size: 18px;
                }
            }


        }
    }
}

.MainContact {
    position: relative;
    height: 100vh;
    padding: 100px 0;
    background: $color-bg;

    .inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);

        h2 {
            font-size: 60px;
            font-weight: 700;
            text-align: center;
            margin: 0 0 60px 0;
        }

        ul {
            display: flex;
            justify-content: center;
            gap: 20px;

            li {
                text-align: center;
                border: 1px solid $color-b;
                border-radius: 30px;
                overflow: hidden;

                a {
                    position: relative;
                    display: inline-block;
                    padding: 20px 0;
                    width: 300px;
                    z-index: 998;

                    font-size: 18px;
                    font-weight: 700;

                    &::after {
                        content: "";
                        position: absolute;
                        left: 0;
                        top: 0;
                        width: 100%;
                        height: 100%;
                        background: $color-lg;
                        transform: scaleX(0);
                        transform-origin: left;
                        z-index: -1;
                    }

                    &:hover {
                        &::after {
                            transform: scaleX(1);
                            transition: 0.4s ease-in;
                        }
                    }

                }
            }
        }
    }
}